h2
{text-align: center;}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
p
{
    width: 50px;
    height: 1px;
    float: right;

}
    #p1 {
        background-color: pink;
        float: right;
        height: 30px;
        width: 60px;
    }

    #p2 {
        background-color: darkred;
        float: right;
        height: 30px;
        width: 60px;
    }

    #p3 {
        background-color: yellow;
        float: right;
        height: 30px;
        width: 60px;;
    }
@media (max-width: 1992px),(min-width: 992px) {
    div {
        border: 2px solid black;
        background-color: gray;
        padding: 50px;
        margin: 10px;

    }
}